.backG{
    background-color: rgb(5, 5, 57);
    margin: 0%;
    padding: 0;
    height: max-height;
    width: max-width;
    color: white;
    /* position: relative;
    z-index: 5;
    opacity: 0.4; */
}
.logo{
    height: 70px;
    width: 70px;
    position: relative;
    z-index: 5;
}
a{
    color: inherit !important;
    text-decoration: none !important;
    position: relative;
    z-index: 5;
}
.nav_bar{
    display: flex; 
    float: right;
    position: relative;
    z-index: 5;
}
#home{
    color: aqua;
}

.nav_comp{
    
    font-size: 120%;
    /* border: 1px solid white; */
    margin: 10px;
    padding: 2px;
}
p{
    line-height: 1%;
    color: grey;
    font-size: 200% ;
    font-weight: bold;
    padding-left: 10%;
    padding-top: 200px;
    position: relative;
    z-index: 5;
}
#role{
    line-height: 80%;
    color: bisque;
    /* text-shadow: 2px 2px 3px  rgb(97, 97, 175); */
    font-size: 500%;
    font-family: garamond;
    font-weight: bold;
    margin: 0%;
    border: 0;
    word-wrap: wrap;
    max-width: 60%;
    padding-top: 0;
    position: relative;
    z-index: 5;
}
#about_me_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    z-index: 5;
}

.about_me{
    height: 200px;
    width: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    top: 0;
    left: 100px;
    position: relative;
    z-index: 5;
}
.square{
    height: 400px;
    width: 400px;
    z-index: 0;
    position: relative;
    background-color:cyan;
    border-radius: 5px;
    top:-180px;
    left: 20px;
}
.square_in{
    background-color:black;
    height: 380px;
    width: 380px;
    position: relative;
    top: 10px;
    left: 10px;
}
.About{
    color: white;
    display: flexbox;
    justify-content: center;
    width: 70%;

    margin-top: 100px;
    margin-bottom: 100px;
}
#hire_me{
    background-color:black;
    color: white;
    font-size: small;
    border: 2px;
    border-color: rgb(254, 255, 255) ;
    border-style: solid;
    height: 40px;
    width: 100px;
}
#resume{
    background-color: black;
    border: 2px;
    border-color: white ;
    border-style: solid;
}
.button{
    color:white;
    font-size: small;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
}
#portfolio{
    text-align: center;
    color: white;
    font-size: x-large;
    position: relative;
    z-index: 5;
}
.contain{
    font-size: large;
    display: flex;
    /* flex-wrap: nowrap; */
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}
#container_1{
    color: aquamarine;
    position: relative;
    z-index: 5;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-left:30%;
    margin-right: 20%;
    height: 500px;
    position: relative;
    z-index: 5;
}
.PROJECT_NUM{
    color: aqua;
    position: relative;
    z-index: 5;
}
.PROJECT_NAME{
    font-size: xx-large;
    position: relative;
    z-index: 5;
}

#services{
    text-align: center;
    font-size: xx-large;
    position: relative;
    z-index: 5;
}
.services_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    z-index: 5;
}
.services_card ::before{
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 10px; /* control the border thickness */
  background: linear-gradient(45deg, cyan, rgb(3, 8, 134));
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
  position: relative;
  z-index: 5;
}
.services_card{
    position: relative;
  padding: 20px 30px;
  margin: 5px;
  display: inline-block;
  padding: 30px;
  box-shadow:0px 0px 30px 1px rgb(1, 86, 255);
  border-radius: 50px;
  position: relative;
  z-index: 5;
}
#experience{
    text-align: center;
    font-size: xx-large;
    position: relative;
    z-index: 5;
}
.exp_contain{
    display:flex;
    justify-content: center;
    gap:60px;
    margin: 40px;
    position: relative;
    z-index: 5;

}
.exp_comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    z-index: 5;
}
.exp_comp img{
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 5;
    
}
.exp_comp img{
    object-fit: contain;
    position: relative;
    z-index: 5;
}

.circle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    position: relative;
    z-index: 5;
    top: 150px;
}
.circle_1{
    background-color:black;;
    height: 200px;
    width: 100px;
    border-radius: 0 100px 100px 0 ; 
    position: relative;
    z-index: 5;
}
.circle_2{
    background-color:black;;
    height: 200px;
    width: 100px;
    border-radius: 100px 0 0px 100px;
    position: relative;
    z-index: 6;
}
.adjust{
    height: 50px;
    
}
.actual_contact{
    height: auto;
    border-radius: 100px 100px 0 0;
    background-color:black;
    position: relative;
    z-index: 5;
    
}
h3{
    text-align: center;
    opacity: 1;
}
.contact_info{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20%;
    margin: 20px;
    opacity: 1;
}
.left{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    opacity: 1;
}
.bg{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color:black;

}
.mail_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
}
#name, #email, #message, #submit{
    border-radius: 10px;
    color: grey;
    background-color: rgb(40, 39, 39);
    height: 35px;
    width: 200px;
    opacity: 1;
}
#message{
    height: 80px;
}
#submit{
    width: 70px;
}
.bar{
    background-color: black;
    height: 1px;
}
.cont_bottom{
    display: flex;
    justify-content: space-between;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.socials div{
    height: 50px;
    width: 50px;
    background-color:grey;
    border-radius: 10px;
}
.fb, .insta, .linkedin{
    height: 40px;
    width:40px;
    margin:5px;
}
.fix{
    position: fixed;
    width: fit-content;
    background-color: black;
    z-index: 1000;
    width: 100%;
}
.profile{
    height: 400px;
    width: 400px;
    position: relative;
    top: 200px;
    z-index: 10;
}
.project_image{
    height: 400px;
    width: 650px;
    position: relative;
    top: 200px;
    z-index: 10;
}
.square_project{
    height: 400px;
    width: 650px;
    z-index: 0;
    position: relative;
    background-color:cyan;
    border-radius: 5px;
    top:-180px;
    left: 20px;
}
.square_in_project{
    background-color:black;
    height: 380px;
    width: 630px;
    position: relative;
    top: 10px;
    left: 10px;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(clouds.png) repeat top center;
    z-index:2;
    opacity: .4;
    animation:move-clouds-back 200s linear infinite;
}

/* Hide the link that should open and close the topnav on small screens */
.nav_bar .icon {
    display: none;
  }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .nav_bar .nav_comp:not(:first-child) a{
      display: none;
    }
    .nav_bar a.icon {
      float: right;
      display: block;
    }
  }

@media screen and (max-width: 600px) {
    .nav_bar.responsive {position: relative;}
    .nav_bar.responsive a.icon {
      position: absolute;
      right:10px;
      top: 200px;
    }
    .nav_bar.responsive .nav_comp {
        float: none;
        display: block;
        text-align: left;
      }
    .nav_bar.responsive .dropdown {float: none;}
  .nav_bar.responsive .dropdown-content {position: relative;}
  .nav_bar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}